@import "./theme.css";

* {
	border: none;
	min-height: 0;

	font-family:
		"DepartureMono Nerd Font", "FontAwesome", "Noto Sans CJK", monospace;
	font-size: 11px;
	color: @tx;
}

@keyframes blink_red {
	to {
		background: @red;
		color: @bg;
	}
}

.warning,
.critical,
.urgent {
	animation-name: blink_red;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

window#waybar {
	background: transparent;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window > box {
	margin: 5px;
	margin-bottom: 0;
}

tooltip {
	background: @bg;
}

tooltip label {
	color: @tx;
}

#workspaces {
	padding: 8px 5px;
	border-radius: 2px;

	background: @bg;
}

#workspaces button {
	padding: 0 10px;
	margin: 0 3px;
	border-radius: 2px;

	color: @tx;
}

#workspaces button.empty {
	color: @grey;
}

#workspaces button.visible {
	color: @tx;
}

#workspaces button.active {
	padding: 0 20px;
	background: @bg-2;
	color: @tx;
}

#workspaces button:hover {
	box-shadow: none;
	background: @ui-2;
}

#clock {
	padding: 0 25px;

	border-radius: 2px;
	background: @bg;
}

/* tray */
#tray {
	padding: 0 10px;
	margin-right: 10px;

	border-radius: 2px;
	background: @bg;
}

#tray menu {
	border-radius: 2px;

	background: @bg;
}

#language {
	padding: 0 10px;
	margin-right: 10px;

	border-radius: 2px;
	background: @bg;
}

#hardware {
	padding: 0 20px;

	border-radius: 2px;
	background: @bg;
}

#backlight,
#battery,
#cpu,
#disk,
#gamemode,
#memory,
#network,
#wireplumber {
	padding: 0;
	margin: 0 10px;
}

#battery.warning {
	color: @orange;
}

#battery.critical {
	color: @red;
}

#wireplumber.muted {
	color: @red;
}
